/* CSS Document */
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  position: relative;
  font-family: apparat-light, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  color: #222;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  max-width: 100% !important;
  /* background-color:#888;  TO TEST STAGING*/
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

ul,
ol {
  margin-left: 1.1em;
  padding-left: 0.25em;
}

li {
  list-style: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

li.extra {
  font-size: 18px;
  line-height: 30px;
  letter-spacing:1px;
  text-align:left;
  transition: transform 0.2s ease-in-out;
}
li.extra:hover {
  transform: rotate(0deg) translateX(7px);
  color: #8db076;
}
li.bull {
  list-style: disc; 
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: none;
}

/* Headings  and   p    and other special type    */
h1 {
  font-family: apparat-light, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 52px;
  line-height: 64px;
  margin-block-end: 20px;
  letter-spacing: 2px;
  font-feature-settings: "kern" off;
  color: #888888;
}

h2, #sec__002 > .col-2 button {
  font-family: "Apparat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 2px;
  color: #444444;
}

h3 {
  font-family: "Apparat";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 39px;
  letter-spacing: 1.5px;
  color: #8db076;
}

h4 {
  font-size: 1.65em;
  font-weight: 300;
  margin-block-end: 0.5em;
  color: #222;
}

p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  /* or 145% */
  color: #333333;
}

.strong {
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  color: #111;
}
.white {
  color:#fff;
}

a {
  text-decoration: none;
  color: #333333;
  transition: transform 0.25s ease-in-out;
}

a:hover {
  font-size: 105%;
}


/* Top bar   */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 94px;
  margin: 0;
  padding: 0 11%;
  background: #f6f6f2;
  box-shadow: 0px 4px 7px 5px rgba(117, 117, 117, 0.04);
}
@media screen and (max-width: 768px) {
  #top-bar {
    padding: 0;
    height: auto;
  }
}
#top-bar .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #top-bar .wrapper {
    align-items: unset;
  }
}

.logo {
  left: 2px;
  top: 0px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: auto;
  }
}
.logo a {
  display: flex;
}

.name {
  position: relative;
  margin-left: 32px;
  font-family: "Apparat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  color: #888888;
}
@media screen and (max-width: 768px) {
  .name {
    margin: auto 0 auto 10px;
  }
  .name h2, .name #sec__002 > .col-2 button, #sec__002 > .col-2 .name button {
    font-size: 20px;
  }
}

.icon-box {
  width: 138px;
  height: 100%;
  right: 0px;
  top: 0px;
  padding: 0;
  /* LS orange */
  background: #eda36b;
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .icon-box {
    width: auto;
    height: auto;
  }
  .icon-box a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-box a img {
    width: 70%;
  }
}
.icon-box a img {
  transition: transform 0.2s ease-in-out;
}
.icon-box a:hover {
  background-color: unset;
}
.icon-box a:hover img {
  transform: scale(1.2);
}

.icon-box img {
  padding: 30px 20px;
}
@media screen and (max-width: 768px) {
  .icon-box img {
    padding: 0;
  }
}

/* main content structures */
#main {
  position: relative;
  width: 100%;
  height: auto;
  margin: 125px auto 0;
  padding: 0;
}


section {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  height: auto;
  /* min-height: 400px; */
  overflow: hidden;
}

#sec__001 {
  padding: 6rem 0 12rem;
}
@media screen and (max-width: 768px) {
  #sec__001 {
    padding: 2rem 0 0;
  }
  #sec__001 .col-1,
  #sec__001 .col-2 {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
  #sec__001 .col-1 {
    margin-bottom: 4rem;
  }
}
.tag-2 {
  width:380px;
}
@media screen and (max-width: 768px) {
.tag-2 {
  width:225px;
}
}
#sec__002 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#sec__002 > .col-1 {
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  #sec__002 > .col-1 {
    display: none;
  }
}
#sec__002 > .col-2 {
  position: relative;
  margin: 0;
  padding: 5% 8%;
  width: 50%;
}
#sec__002 > .col-2 h2, #sec__002 > .col-2 button {
  margin: 2rem 0 1.5rem;
}
#sec__002 > .col-2 button {
  outline: none;
  border: none;
  background: #eda36b;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}
#sec__002 .about__container {
  position: absolute;
  top: 0;
  right: 0;
  height: 95%;
  z-index: 1;
  padding: 4rem 0;
  width: 0;
  overflow: hidden;
  transition: width 0.3s 0.3s ease-in-out;
  background-color: #eda36b;
  border-radius: 0 0 0 68px;
}
#sec__002 .about__container .overflow {
  overflow-y: auto;
  
}
#sec__002 .about__container .col-1,
#sec__002 .about__container .col-2 {
  opacity: 0;
  transition: opacity 0.3s 0s ease-in-out;
}
#sec__002 .about__container h3 {
  margin-bottom: 1rem;
}
#sec__002 .about__container p {
  color: #fff;
  font-weight:400;
  font-size:18px;
}
#sec__002 .about__container p:not(:last-child) {
  margin-bottom: 0.6rem;
}
#sec__002 .about__container .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
#sec__002 .about__container .close:before, #sec__002 .about__container .close::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  margin: auto;
  background-color: #333333;
}
#sec__002 .about__container .close::before {
  transform: rotate(45deg);
}
#sec__002 .about__container .close::after {
  transform: rotate(-45deg);
}
#sec__002 .about__container.active {
  width: 100%;
  transition: width 0.3s 0s ease-in-out;
}
#sec__002 .about__container.active .col-1,
#sec__002 .about__container.active .col-2 {
  opacity: 1;
  transition: opacity 0.3s 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  #sec__002 {
    flex-direction: column;
    padding: 2rem 0 0;
  }
  #sec__002 > .col-1,
  #sec__002 > .col-2 {
    width: 100%;
  }
  #sec__002 > .col-1 {
    margin-bottom: 4rem;
  }
  #sec__002 .about__container {
  height:90%;
  padding: 3rem 0;
}
  #sec__002 .about__container .col-1,
  #sec__002 .about__container .col-2 {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
  #sec__002 .about__container .col-1 {
    margin-bottom: 4rem;
  }
}

#sec__004 {
  padding-bottom: 12rem;
}
@media screen and (max-width: 768px) {
  #sec__004 {
    padding: 2rem 0 0;
  }
  #sec__004 .col-1,
  #sec__004 .col-2 {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
  #sec__004 .col-1 {
    margin-bottom: 4rem;
  }
  #sec__004 .col-2 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #sec__004 .col-2 .photo-3 {
    width: 85%;
  }
  #sec__004 .service-box__wrapper {
    width: 85%;
    margin-left: auto;
  }
}
#sec__004 .pattern-1 {
  top: 30%;
}
#sec__004 h3 {
  margin-bottom: 1rem;
}
#sec__004 ul {
  padding-left: 0;
  margin: 1rem 0 0;
}
#sec__004 ul li a {
  font: inherit;
}
#sec__004 .col-1 ul li {
  cursor: pointer;
}
#sec__004 .col-1 ul li::after {
  content: ">>";
  opacity: 0;
  margin-left: 0.5rem;
  transition: opacity 0.2s ease-in-out;
}
#sec__004 .col-1 ul li.active::after {
  opacity: 1;
}
#sec__004 .col-1 ul li.active {
  font-weight:500;
  color: #8db076;
}
#sec__004 .col-2 {
  position: relative;
}
#sec__004 .col-2 .service-box__wrapper {
  background-image: url(assets/green-texture.png);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  height: 100%;
  border-radius: 68px 0 0 0;
}
@media screen and (max-width: 768px) {
  #sec__004 .col-2 .service-box__wrapper {
    position: relative;
    transform: translate(0, 0);
    order: -1;
    height: 300px;
  }
}
#sec__004 .col-2 .service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.2rem 2.0rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  height: 100%;
}
#sec__004 .col-2 .service-box h3,
#sec__004 .col-2 .service-box p {
  color: #fff;
}
#sec__004 .col-2 .service-box:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sec__004 .col-2 .service-box.active {
  opacity: 1;
}

#sec__006 {
  padding-top: 12rem;
}
#sec__006 h3 {
  padding-left: 11%;
  margin-bottom: 1rem;
}
#sec__006 .tab-box-round-tr {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#sec__006 .tab-box-round-tr ul {
  padding-left: 0;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  #sec__006 .tab-box-round-tr h3 {
    padding-left: 0;
  }
  #sec__006 .tab-box-round-tr .col-1,
  #sec__006 .tab-box-round-tr .col-2 {
    width: 100%;
    margin: 0;
  }
}

.closing {
  padding: 2rem 11%;
}
@media screen and (max-width: 768px) {
  .closing {
    padding: 2rem 1rem;
  }
}

.col-1 {
  float: left;
  width: 32%;
  margin-left: 11%;
  padding: 0;
}

.col-2 {
  float: right;
  width: 32%;
  margin-right: 11%;
  padding: 0;
}

/* patterns / background textures   */
.pattern-1 {
  position: absolute;
  left: 50%;
  top: 16.5%;
  z-index: -1;
  width: 1200px;
  height: 450px;
  background-image: url("assets/logo-patt-orange-txp-2200.png");
  background-position: top left;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .pattern-1 {
    background-size: contain;
  }
}

.pattern-2 {
  position: absolute;
  right: 65%;
  top: 20%;
  z-index: -1;
  width: 1200px;
  height: 450px;
  background-image: url("assets/logo-patt-orange-txp-2200.png");
  background-position: top right;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .pattern-2 {
    background-size: contain;
  }
}

.pattern-3 {
  position: absolute;
  left: -38%;
  top: 0%;
  z-index: -1;
  width: 1200px;
  height: 385px;
  background-image: url("assets/logo-patt-orange-txp-2200.png");
  background-position: top right;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .pattern-3 {
    background-size: contain;
  }
}

.tab-box-round-bl {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0 0 0 68px;
  /*  radius only on the bottom left corner */
  width: 100%;
  height: 100%;
  background-image: url("assets/offwhite-texture.png");
  z-index: -1;
}

.tab-box-round-bl-full {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  border-radius: 0 0 0 68px;
  /*  radius only on the bottom left corner */
  width: 100%;
  height: 100%;
  background-image: none;
  z-index: -1;
}

.tab-box-round-tr {
  position: relative;
  float: left;
  margin: 0 0 0 35px;
  padding: 20px 15px;
  border-radius: 0 68px 0 0;
  width: 95%;
  background-image: url("assets/offwhite-texture.png");
}

/* photos  */
.photo-1 {
  /* hand papers  */
  box-sizing: border-box;
  width: 100%;
  /* height: 230px; */
}

.photo-2 {
  /* hand-water  */
  box-sizing: border-box;
  width: 100%;
}

.photo-3 {
  /* hand w map */
  box-sizing: border-box;
  width: 100%;
}

.photo-1 img,
.photo-2 img,
.photo-3 img {
  width: 100%;
  border: 8px solid #f8f4f4;
}

/* quote  */
.quote-box {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 4rem 11%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .quote-box {
    padding: 4rem 1rem 4rem 3rem;
  }
}

.left-quote-mark {
  position: absolute;
  width: 90px;
  left: 0;
  top: 0;
  font-size: 110px;
  color: #eda36b;
}

.quote {
  font-family: apparat-light, sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  /* or 137% */
  /* LS orange */
  color: #eda36b;
  position: relative;
}
.quote::before {
  content: url("/assets/c-quotes.png");
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  font-family: inherit;
  font-weight: 100;
  transform: translate(-110%, -25%);
}

.attribution {
  font-family: "Apparat";
  font-size: 22px;
  color: #eda36b;
  margin-top: 1rem;
}

.box-sep {
  display: block;
  width: 24px;
  height: 24px;
  margin: 15px 0;
  border-radius: 2px;
  fill: var(--LS-orange-txp, rgba(237, 163, 107, 0.1));
}

/* button   */
.button {
  background-color: #8db076;
  border: none;
  border-radius: 15px;
  padding: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, box-shadow 0.3s;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  /* Shadow grows slightly on click */
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.social-box {
  display: block;
  border: 1px #888888;
  width: auto;
  height: 200px;
}

footer {
  padding: 4rem 11% 2em;
  display: flex;
  align-items: center;
}
footer h4 {
  margin: 0 3rem 0 0;
  font-size: 19px;
  font-weight: 400;
}
footer p {
  margin-left: 20px;
  text-align:right;
}
footer a {
  margin-left: 10px;
}
footer a:hover {
  font-size: 100%;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 2rem 1rem;
  }

footer h4 {
  margin: 0 2rem 0 0;
  font-size: 17px;
}
footer p {
  font-weight: 200;
}
}

/*# sourceMappingURL=style.css.map */
